[Desktop Entry]
Version=1.0
Icon=ghostty
Type=X-XFCE-Helper
Name=Ghostty
StartupNotify=true
X-XFCE-Binaries=ghostty;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -e %s;
